html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #efeeee;
}

.page {
    width: 100%;
    height: 100%;
}

.page__title {
    text-align: center;
    color: #333D6E;
    margin-bottom: 16px;
}

.weui-cells:before,
.weui-cells:after,
.weui-cell:before,
.weui-cell:after {
    border: none;
}

.weui-cells {
    background-color: #efeeee;
}

.weui-cells .weui-cell {
    margin: 20px 20px;
    padding: 25px;
    font-size: 23px;
    font-weight: bold;
    color: #333D6E;
}

.weui-cells .weui-cell .weui-cell__hd>img {
    width: 35px;
    margin-right: 16px;
    display: inline-block;
    vertical-align: middle;
}

.weui-cells .weui-cell .weui-cell__ft,
.weui-cells .weui-cell .weui-cell__ft:after {
    color: #fa8c16;
}

.weui-form-show:before,
.weui-form-show:after {
    border: none;
}

.weui-form-show {
    background-color: #efeeee;
    margin: 20px 20px;
}

.weui-form-show>img {
    display: inline-block;
    vertical-align: middle;
}

.weui-form-preview .weui-form-preview__label {
    width: 100px;
    text-align-last: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.weui-form-preview__hd .weui-form-preview__value {
    font-size: 1em;
    font-weight: bold;
}

.nivin-no-radius {
    background-color: #efeeee;
    border: 1px solid rgba(255, 255, 255, 0.20);
    box-shadow: 6px 6px 16px 0 rgba(217, 210, 200, 0.51), -6px -6px 26px 0 rgba(255, 255, 255, 0.8);
}

.nivin-inset {
    background-color: #efeeee;
    border: 1px solid rgba(255, 255, 255, 0.20);
    border-radius: 12px;
    box-shadow: 6px 6px 16px 0 rgba(217, 210, 200, 0.8) inset, -6px -6px 16px 0 rgba(255, 255, 255, 0.51) inset;
}

.nivin {
    background-color: #efeeee;
    border: 1px solid rgba(255, 255, 255, 0.20);
    border-radius: 12px;
    box-shadow: 6px 6px 16px 0 rgba(217, 210, 200, 0.51), -6px -6px 26px 0 rgba(255, 255, 255, 0.8);
}

.nivin:active {
    background-color: #efeeee;
    border: 1px solid rgba(255, 255, 255, 0.20);
    border-radius: 12px;
    box-shadow: 6px 6px 16px 0 rgba(217, 210, 200, 0.8) inset, -6px -6px 16px 0 rgba(255, 255, 255, 0.51) inset;
}