html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #EFEEEE;
}

.page {
    width: 100%;
    height: 100%;
}

.page__title {
    text-align: center;
    color: #333D6E;
    margin-bottom: 16px;
}

.weui-cells:before,
.weui-cells:after,
.weui-cell:before,
.weui-cell:after {
    border: none;
}

.weui-cells {
    background-color: #EFEEEE;
}

.weui-form {
    background-color: #EFEEEE;
}

.weui-form .weui-form__control-area {
    margin: 20px 20px;
    -webkit-flex: 0;
    flex: 0;
}

.weui-form .vcode {
    width: 50px;
    height: 30px;
}

.weui-form .weui-label {
    width: 3em;
}

.weui-form .weui-input {
    font-size: 16px;
    padding: 5px 10px;
}

.weui-form .weui-form__text-area {
    color: #333D6E;
}

.weui-form .weui-btn {
    color: #333D6E;
}

.weui-cells .weui-cell {
    margin: 20px 20px;
    padding: 25px;
    font-size: 23px;
    font-weight: bold;
    color: #333D6E;
}

.weui-cells_form .weui-cell {
    margin: 20px 20px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #333D6E;
}


.weui-cells .weui-cell .weui-cell__hd>img {
    width: 35px;
    margin-right: 16px;
    display: inline-block;
    vertical-align: middle;
}

.weui-cells .weui-cell .weui-cell__ft,
.weui-cells .weui-cell .weui-cell__ft:after {
    color: #fa8c16;
}

.weui-form-show:before,
.weui-form-show:after {
    border: none;
}

.weui-form-show {
    background-color: #EFEEEE;
    margin: 20px 20px;
}

.weui-form-show>img {
    display: inline-block;
    vertical-align: middle;
}

.weui-form-preview .weui-form-preview__label {
    width: 100px;
    text-align-last: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.weui-form-preview__hd .weui-form-preview__value {
    font-size: 1em;
    font-weight: bold;
}

.nivin-no-radius {
    background-color: #EFEEEE;
    border: 1px solid rgba(255, 255, 255, 0.20);
    box-shadow: 6px 6px 16px 0 rgba(217, 210, 200, 0.51), -6px -6px 26px 0 rgba(255, 255, 255, 0.8);
}

.nivin-inset {
    background-color: #EFEEEE;
    border: 1px solid rgba(255, 255, 255, 0.20);
    border-radius: 12px;
    box-shadow: 6px 6px 16px 0 rgba(217, 210, 200, 0.8) inset, -6px -6px 16px 0 rgba(255, 255, 255, 0.51) inset;
}

.nivin,
.nivin-a {
    background-color: #EFEEEE;
    border: 1px solid rgba(255, 255, 255, 0.20);
    border-radius: 12px;
    box-shadow: 6px 6px 16px 0 rgba(217, 210, 200, 0.51), -6px -6px 26px 0 rgba(255, 255, 255, 0.8);
}

.nivin-a:focus {
    background-color: #EFEEEE;
    border: 1px solid rgba(255, 255, 255, 0.20);
    border-radius: 12px;
    box-shadow: 6px 6px 16px 0 rgba(217, 210, 200, 0.8) inset, -6px -6px 16px 0 rgba(255, 255, 255, 0.51) inset;
}